@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
    <link href="~/Content/Quiz.css" rel="stylesheet" />
}

<div class="container-fluid" id="ready">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div id="loadbar">
                        <div id="circle">
                            <div class="loader">
                                <div class="loader">
                                    <div class="loader">
                                        <div class="loader">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="bg-dack">
                            <div class="animate one">
                                <span>C</span><span>h</span><span>u</span><span>ẩ</span><span>n</span> &nbsp;
                                <span>b</span><span>ị</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

@*<div class="container-fluid" id="quiz-test">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="display: block">
                    <h4 class="text-center">Tên bài kiểm tra</h4>
                    <h6 class="text-center">Bài tập này có 10 câu hỏi</h6>
                </div>
                <div class="progress" style="height: 2px">
                    <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="modal-header">
                    <h5>1. Nội dung câu hỏi thứ nhất bao gồm các đáp án như sau ?</h5>
                </div>
                <div class="modal-body">
                    <div id="loadbar" style="display: none;">
                        <div class="bg-dack"></div>
                        <div id="circle">
                            <div class="loader">
                                <div class="loader">
                                    <div class="loader">
                                        <div class="loader">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="counters_1">
                        <span style="float: left">
                            0:<span class="counter" data-TargetNum="15" data-Speed="15000"
                                    data-Direction="reverse" data-Easing="linear"></span>
                        </span><span class="text-center" style="display: block">80 Point</span>
                    </div>
                    <div class="progress" style="margin-bottom: 1rem;">
                        <div class="progress-bar progress-bar-striped progress-time" style="min-width: 20px;">
                        </div>
                    </div>
                    <div class="quiz" id="quiz" data-toggle="buttons">
                        <label class="element-animation1 btn btn-lg btn-primary btn-block ans">Đáp án thứ nhất</label>
                        <label class="element-animation2 btn btn-lg btn-danger btn-block ans">Đáp án thứ hai</label>
                        <label class="element-animation3 btn btn-lg btn-warning btn-block ans">Đáp án thứ ba</label>
                        <label class="element-animation4 btn btn-lg btn-success btn-block ans">Đáp án thứ tư (nếu nội dung đáp án thứ tư dài hơn 1 dòng sẽ hiển thị thêm 1 dòng)</label>
                    </div>
                </div>
                <div class="modal-footer text-muted">
                    <span id="answer" style="display: none">Hệ thống đã ghi nhận câu trả lời của bạn, vui lòng đợi câu hỏi tiếp theo.</span>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid" id="ranking" style="display: none">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="display: block">
                    <h4 class="text-center">Tên bài kiểm tra</h4>
                </div>
                <div class="modal-header">
                    <div class="row col">
                        <div class="col-4 text-center">30 <br /> Vừa được</div>
                        <div class="col-4 text-center">Tên User </div>
                        <div class="col-4 text-center">11 <br /> Vị thứ</div>
                    </div>
                </div>
                <div class="modal-body">
                    <header>
                        <h4 class="text-center">Bảng điểm hiện tại</h4>
                    </header>
                    <table>
                        <thead>
                            <tr>
                                <th>Thứ tự</th>
                                <th>Tên</th>
                                <th>Điểm</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="rank">1</td>
                                <td class="team">Spain</td>
                                <td class="points">1460</td>
                            </tr>
                            <tr>
                                <td class="rank">2</td>
                                <td class="team">Germany</td>
                                <td class="points">1340</td>
                            </tr>
                            <tr>
                                <td class="rank">3</td>
                                <td class="team">Portugal</td>
                                <td class="points">1245</td>
                            </tr>
                            <tr>
                                <td class="rank">4</td>
                                <td class="team">Brazil</td>
                                <td class="points">1210</td>
                            </tr>
                            <tr>
                                <td class="rank">5</td>
                                <td class="team">Colombia</td>
                                <td class="points">1186</td>
                            </tr>
                            <tr>
                                <td class="rank">6</td>
                                <td class="team">Uruguay</td>
                                <td class="points">1181</td>
                            </tr>
                            <tr>
                                <td class="rank">7</td>
                                <td class="team">Argentina</td>
                                <td class="points">1178</td>
                            </tr>
                            <tr>
                                <td class="rank">8</td>
                                <td class="team">Switzerland</td>
                                <td class="points">1161</td>
                            </tr>
                            <tr>
                                <td class="rank">9</td>
                                <td class="team">Italy</td>
                                <td class="points">1115</td>
                            </tr>
                            <tr>
                                <td class="rank">10</td>
                                <td class="team">Greece</td>
                                <td class="points">1082</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer text-muted">
                    <span id="answer" style="display: none">Hệ thống đã ghi nhận câu trả lời của bạn, vui lòng đợi câu hỏi tiếp theo.</span>
                </div>
            </div>
        </div>
    </div>*@
@section Scripts{
    <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        $(function () {
            var chat = $.connection.quizHub;
            chat.client.addNewMessageToGroup = function (name, message) {
                $('#discussion').append(message);
            };
            $.connection.hub.start(function () {
                chat.server.group("RoomA");
            });
            $.connection.hub.start().done(function () {
                chat.server.group("RoomA", "Join");
            });
        });

    </script>

   <script>
        let pageId = 1;
    </script>
    <script src="~/Scripts/Quiz.js"></script>
    <script src="~/Scripts/counter.js"></script>
}
