@model  CheckInApp.ViewModels.ListAnsManager
<div class="modal-header">
    @if (Model.EndProcess == 1)
    {
        <button type="button" class="btn btn-default" onclick="FinishTest()">Kết thúc bài test</button>
    }
    else
    {
        <button type="button" class="btn btn-default" onclick="NextQuiz()">Câu hỏi tiếp theo</button>
    }
</div>
<div class="modal-body">
    <header>
        <h4 class="text-center">Bảng điểm hiện tại</h4>
    </header>
    <table>
        <thead>
            <tr>
                <th>Thứ tự</th>
                <th>Tên</th>
                <th>Đúng/All</th>
                <th>Điểm</th>
            </tr>
        </thead>
        <tbody>
        @if (Model.Data.Any())
        {
            var indexRank = 1;
            foreach (var item in Model.Data)
            {
                <tr>
                    <td class="rank">@indexRank</td>
                    <td class="team">@item.FullName</td>
                    <td class="points">@item.TrueAns/@item.Total</td>
                    <td class="points">@item.Score</td>
                </tr>
               {
                    indexRank++;

                }
                
            }
        }
        </tbody>
    </table>
</div>
<div class="modal-footer text-muted">
</div>