@model CheckInApp.Models.TestInfor

@{
    ViewBag.Title = "Xóa câu hỏi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3>Bạn có muốn xóa bài test này không?</h3>
<div>
    @Html.ValidationSummary(false, "", new {@class = "text-danger"})
    <dl class="dl-horizontal">
        <dt>
           @Model.Name
        </dt>
    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default"/> |
            @Html.ActionLink("Back to List", "Index","TestInfo")
        </div>
    }
</div>
